
<table>
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/workoutlog">Workout Log</a></td>
        <td><a href="/sportsworkouts">Sports Workouts</a></td>
        <td><a href="/ispe">ISPE</a></td>
        <td><a href="/inspo">Inspiration</a></td>
        <td><a href="/comments">Comments</a></td>
        
    </tr>
</table>


<!-- USE THIS CODE (comment out table above and uncomment the table below) FOR WHEN NOT USING LOCAL HOST (so that deployed github page works)-->

<!--
<table>
    <tr>
        <td><a href="/Fitness_4_Baddies/">Home</a></td>
        <td><a href="/Fitness_4_Baddies/workoutlog.html">Workout Log</a></td>
        <td><a href="/Fitness_4_Baddies/sportsworkouts.html">Sports Workouts</a></td>
        <td><a href="/Fitness_4_Baddies/ispe.html">ISPE</a></td>
        <td><a href="/Fitness_4_Baddies/inspo.html">Inspiration</a></td>
        <td><a href="/Fitness_4_Baddies/comments.html">Comments</a></td>
        
    </tr>
</table>
-->

