<!--
<table>
    <tr>
        <td><a href="/cheerworkout">Cheer Workout</a></td>
        <td><a href="/climbingworkout">Climbing Workout</a></td>
        <td><a href="/soccerworkout">Soccer Workout</a></td>
        <td><a href="/inputtedworkoutplan">Workouts by You</a></td>
        
    </tr>

</table>
-->

<!-- USE THIS TABLE FOR DEPLOYED GITHUB SITE -->

<table>
    <tr>
        <td><a href="/Fitness_4_Baddies/cheerworkout.html">Cheer Workout</a></td>
        <td><a href="/Fitness_4_Baddies/climbingworkout.html">Climbing Workout</a></td>
        <td><a href="/Fitness_4_Baddies/soccerworkout.html">Soccer Workout</a></td>
        <td><a href="/Fitness_4_Baddies/inputtedworkoutplan.html">Workouts by You</a></td>
        
    </tr>

</table>